:root {
    --primary: #8b81c6;
    --secondary: #67ba6b;
    --white: #fff;
    --black: #000;
    --gray: #aaa;
    --text--highlight: #2f1dea;
}

body {
    background-color: var(--primary);
    width: 100%;
    margin: 0;
    font-family: sans-serif;
}

main {
    background-color: var(--white);
    margin: 0;
}

#logo {
    display: inline-block;
    width: 3em;
    height: 3em;
    padding: 0px 10px;
    color: #000000;
}

.container {
    max-width: 1200px;
    margin-inline: auto;
}

header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: var(--secondary);
    width: 100%;
    background-attachment: fixed;
}

.nav-links {
    display: flex;
    flex-flow: row nowrap;
}

.nav-links a {
    text-decoration: none;
}

.nav-item {
    color: var(--text--highlight);
    padding: 10px 13px;
    margin: 0 5px;
    list-style: none inside none;
    background-color: #86cd89aa;
    border-color: #000000;
    border-width: 0 1px;
    border-style: solid;
 }

.nav-item:hover {
    background-color: #addab0;
}

#banner {
    display: flex;
    height: 390px;
    background-image:linear-gradient(29deg, #00000020, #C7B25778, #DE874086), url(./imgs/bv-banner.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    justify-content: center;
    margin: 0;
}

#titulo-principal {
    font-size: 53px;
    color: var(--white);
    text-shadow: 2px 2px 7px #63b365;
}